name: Automatisation des tests

on: push

jobs:
  Compilation:
    runs-on: ubuntu-latest
    steps:
      - name: Récupération du dépôt
        uses: actions/checkout@v4

      - name: Compilation et exécution des tests
        run: |
          mkdir build
          cd build
          cmake ..
          make
          make test
